body {
  background: linear-gradient(
    109.6deg,
    rgb(185, 212, 242) 11.2%,
    rgb(244, 210, 226) 100.3%
  );
}
h1 {
  color: #5e63b6;
  font-size: 36px;
  padding-left: 10px;
  padding-bottom: 3px;
}
form {
  padding: 0px 30px;
  position: relative;
  left: -20px;
}
small {
  color: #5e63b6;
  font-family: "DM Sans", sans-serif;
  position: relative;
  left: 10px;
  bottom: -20px;
}

#main-container {
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  margin: 0 auto;
  display: block;
  font-family: "DM Sans", sans-serif;
  background: white;
  max-width: 600px;
  max-height: 800px;
  padding: 30px 30px;
  border-radius: 16px;
  color: #878787;
}
.container {
  padding: 30px 30px;
}
#city {
  font-size: 28px;
  line-height: 30px;
}

#search-button {
  background-color: #a7bfdc;
  border-color: #8295ab;
  color: rgb(88, 87, 87);
}

#search-input {
  background-color: #f8f8f8;
}

#details {
  position: relative;
  left: 70px;
  top: -40px;
  color: #5e63b6;
  list-style: none;
  padding-top: 150px;
  line-height: 28px;
}
.weather-forecast {
  color: #5e63b6;
  line-height: 18px;
  position: relative;
  left: 40px;
  top: 20px;
  text-align: center;
}

#icon {
  position: relative;
  left: -14px;
}

.current-temp {
  position: relative;
  font-size: 56px;
  left: -20px;
  top: 20px;
}
.current-date {
  font-size: 18px;
  background: #d7e9fc;
  padding: 4px;
  border-radius: 4px;
}

.cloudiness {
  position: relative;
  top: -16px;
  text-transform: capitalize;
}
.units {
  position: relative;
  top: -8px;
  left: -10px;
}

.weather-description-today {
  list-style: none;
  position: relative;
  left: -20px;
  color: #5e63b6;
  line-height: 50px;
}

#weather-description .active {
  color: #5e63b6;
  cursor: default;
  text-decoration: none;
}

#weather-description .active:hover {
  text-decoration: none;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.7;
}
.weather-forecast-temps {
  font-size: 13px;
}
.weather-forecast-temperature-minimum {
  opacity: 0.7;
}

.weather-forecast-temperature-maximum {
  color: #3b42b8;
}
