body {
  background: linear-gradient(
    109.6deg,
    rgb(185, 212, 242) 11.2%,
    rgb(244, 210, 226) 100.3%
  );
}
h1,
h2,
h3,
h4 {
  color: #5e63b6;
  font-family: "DM Sans", sans-serif;
  padding: 0px 20px;
}
h1 {
  font-size: 36px;
  padding-left: 25px;
}
h2 {
  font-size: 28px;
  line-height: 20px;
}
h3 {
  font-size: 18px;
}

h4 {
  padding-top: 35px;
  font-size: 36px;
}
form {
  padding: 0px 20px;
}
.container {
  background: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 16px;
  color: #878787;
  font-family: "DM Sans", sans-serif;
  padding: 20px 10px;
  display: block;
}
#main-container {
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
#search-button {
  background-color: #a7bfdc;
  border-color: #8295ab;
  color: rgb(88, 87, 87);
}

#search-input {
  background-color: #f8f8f8;
}

.weather-today-details {
  color: #5e63b6;
  padding-top: 90px;
}

.celcius,
.farenheit {
  font-size: 20px;
}
#forecast {
  color: #5e63b6;
  padding-left: 30px;
}
