body {
  background: linear-gradient(
    109.6deg,
    rgb(185, 212, 242) 11.2%,
    rgb(244, 210, 226) 100.3%
  );
}
h1 {
  color: #5e63b6;
  font-size: 36px;
  padding-left: 30px;
}
form {
  padding: 0px 30px;
}
small {
  color: #5e63b6;
  font-family: "DM Sans", sans-serif;
}
.container {
  font-family: "DM Sans", sans-serif;
  background: #fff;
  max-width: 700px;
  max-height: 600px;
  padding: 40px 30px;
  border-radius: 16px;
  color: #878787;
}
#city {
  font-size: 28px;
  line-height: 20px;
}
ul {
  list-style: none;
  position: relative;
  top: -20px;
  left: -30px;
  color: #5e63b6;
  line-height: 40px;
}
#main-container {
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  margin: 0 auto;
  display: block;
}
#search-button {
  background-color: #a7bfdc;
  border-color: #8295ab;
  color: rgb(88, 87, 87);
}

#search-input {
  background-color: #f8f8f8;
}

#details {
  position: relative;
  top: 2px;
  color: #5e63b6;
  list-style: none;
  padding-top: 100px;
  line-height: 30px;
}
.link {
  color: #5e63b6;
}
#forecast {
  color: #5e63b6;
  position: relative;
  top: -50px;
  padding-left: 30px;
  padding-bottom: 30px;
}

.current-temp {
  position: relative;
  font-size: 64px;
  top: 34px;
}
.current-date {
  font-size: 18px;
}

ul .cloudiness {
  position: relative;
  top: -20px;
}
